@import "variables";

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-roboto;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: $brand-body-color;
  background: $brand-bg-color;
  margin: 0;
  position: relative;
  height: 100%;
  min-width: 100vw;
  overflow-x: hidden;

  #app{
    position: relative;
    height: 100%;

    .container{
      padding-left: 280px;
    }

    a {
      @include transition(.5s);
      text-decoration: none;
      &:hover, &:active, &:focus {
        outline: none;
      }
    }
    p {
      margin-bottom: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $brand-black;
      font-family: $font-monsterrat;
    }
    ::-webkit-selection {
      color: $brand-body-color;
      background: $brand-selection-color;
    }

    ::-moz-selection {
      color: $brand-body-color;
      background: $brand-selection-color;
    }

    ::selection {
      color: $brand-body-color;
      background: $brand-selection-color;
    }

    .social-icons {
      a {
        padding: 4px 10px;
        color: $brand-primary;
        &:hover, &:focus, &:active {
          text-decoration: none;
          color: $brand-darker;
        }
      }
    }
  }
}