@import "font";

$font-monsterrat: 'Montserrat', arial, sans-serif;
$font-roboto: 'Roboto', arial, sans-serif;

$brand-primary: #EF5353 !default;
$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #000;
$brand-bg-color: #f5f6f7;

// Mixin
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin translateX($px) {
  -webkit-transform: translateX($px);
  -moz-transform: translateX($px);
  -ms-transform: translateX($px);
  -o-transform: translateX($px);
  transform: translateX($px);
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin animation($animation...){
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

//animations
@keyframes itemFadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-enter-active {
  @include animation(itemFadeIn .5s)
}